<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Connexion</title>
        <meta name="description" content="page de connexion"/>
    </head>

    <body>

        <form actions="authentification" method="POST">
            <fieldset>
                <legend>Connexion</legend>
                <label>username</label><input name="username" type="text">
                <label>password</label><input name="password" type="password">
                <input id="submit" type="submit"/>
            </fieldset>
        </form>
        
    </body>
</html>