<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Mentions légales</title>
    <meta name="description" content="page de mentions légales" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-light navbar-expand-sm navbar-custom mb-5" style=" 
        -webkit-box-shadow: 0px 4px 9px 1px rgba(143, 143, 143, 0.5);
        -moz-box-shadow: 0px 4px 9px 1px rgba(143, 143, 143, 0.5);
        box-shadow: 0px 4px 9px 1px rgba(143, 143, 143, 0.5);">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">Ceptyconsultant</a>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('data') }}">Données</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:blue;">Mentions légales</a>
                </li>
            </ul>

            <p class="ml-auto small">Connecté en tant que {{current_user}}</p>
            <a class="ml-auto navbar-text" href="#">Déconnexion</a>
        </div>
    </nav>
    <!-- fin nav -->
    <!-- Mention légales-->
    <div class="container">

        <div class="align-items-left justify-content-left table-responsive col-12">
            <table class="table table-bordered table-striped my-3">
                <thead>
                    <tr>
                        <h3>Mentions légales</h3>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Informations éditoriales</th>
                    </tr>
                    <tr>
                        <th>
                        <p>Comité éditorial web : service de la communication de Ceptyconsultant</p>
                        <p>Conception, organisation et rédaction des contenus : service de la communication de Ceptyconsultant</p>
                        <p>Habillage graphique : service de la communication de Ceptyconsultant</p>
                        </th>
                    </tr>
                    <tr>
                        <th>Protection des données à caractère personnel, propriété intellectuelle</th>
                    </tr>
                    <tr>
                        <th>
                        <p>Protection des données à caractère personnel : Conformément à la loi n° 78-17 du 6 janvier 1978 modifiée relative
                             à l'informatique, aux fichiers et aux libertés et au règlement général sur la protection des données (RGPD), 
                             vous disposez d'un droit d'accès, de modification et de suppression des données à caractère personnel qui vous concernent. 
                             Ce droit peut être exercé par courrier postal adressé à l'Inalco Ceptyconsultant - 65, rue des Grands Moulins - 75013 Paris. </p>
                        <p>Clause de non responsabilité</p>
                        <p>
                            Ceptyconsultant groupe 3 ne saurait être tenu responsable des dommages qui résulteraient de l’utilisation du site web (perte de données, …).
                            Ceptyconsultant groupe 3 ne peut garantir que les informations du site sont complètes, exactes et à jour.
                        </p>
                        <p>
                            Droits de propriété intellectuelle : tous les droits de reproduction sont réservés. Sauf indication contraire, toutes les photographies, 
                            textes et dessins sont la propriété de l’Inalco. Toute copie partielle ou intégrale doit faire l’objet d’une autorisation  du directeur de la publication.
                        </p>
                        </th>
                    </tr>
                    <tr>
                        <th>Création de liens vers le site</th>
                    </tr>
                    <tr>
                        <th>
                        <p>La mise en place de liens hypertextes pointant vers les pages du site web de Ceptyconsultant est autorisée sous réserve qu’elle ne 
                            porte pas atteinte à son contenu et qu’elle permette à l’utilisateur d’identifier l’origine et l’auteur du document. </p>
                        </th>
                    </tr>
                    <tr>
                        <th>Contacts</th>
                    </tr>
                    <tr>
                        <th>
                        <p>Pour toute information contactez Ceptyconsultant groupe 3 Inalco TAL M2 </p>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

</body>