{% extends "base.html" %}


{% block content %}
    <div class="container">

        <div class="align-items-left justify-content-left table-responsive col-12">
            <table class="table table-bordered table-striped my-3">
                <thead>
                    <tr>
                        <h3>Mentions légales</h3>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>licence</th>
                    </tr>
                    <tr>
                        <th>
                        <p>Copyright 2020 Ceptyconsultant Inalco </p>
                        <p>Cette application est sous licence MIT :</p>
                        <p>
                            Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"),
                            to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
                            and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
                            The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
                        </p>
                        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
                            IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
                            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                        </p>
                        </th>
                    </tr>
                    <tr>
                        <th>Informations éditoriales</th>
                    </tr>
                    <tr>
                        <th>
                        <p>Comité éditorial web : service de la communication de Ceptyconsultant</p>
                        <p>Conception, organisation et rédaction des contenus : service de la communication de Ceptyconsultant</p>
                        <p>Habillage graphique : service de la communication de Ceptyconsultant</p>
                        </th>
                    </tr>
                    <tr>
                        <th>Protection des données à caractère personnel, propriété intellectuelle</th>
                    </tr>
                    <tr>
                        <th>
                        <p>Protection des données à caractère personnel : Conformément à la loi n° 78-17 du 6 janvier 1978 modifiée relative
                             à l'informatique, aux fichiers et aux libertés et au règlement général sur la protection des données (RGPD), 
                             vous disposez d'un droit d'accès, de modification et de suppression des données à caractère personnel qui vous concernent. 
                             Ce droit peut être exercé par courrier postal adressé à l'Inalco Ceptyconsultant - 65, rue des Grands Moulins - 75013 Paris. </p>
                        <p>Clause de non responsabilité</p>
                        <p>
                            Ceptyconsultant groupe 3 ne saurait être tenu responsable des dommages qui résulteraient de l’utilisation du site web (perte de données, …).
                            Ceptyconsultant groupe 3 ne peut garantir que les informations du site sont complètes, exactes et à jour.
                        </p>
                        <p>
                            Droits de propriété intellectuelle : tous les droits de reproduction sont réservés. Sauf indication contraire, toutes les photographies, 
                            textes et dessins sont la propriété de l’Inalco. Toute copie partielle ou intégrale doit faire l’objet d’une autorisation  du directeur de la publication.
                        </p>
                        </th>
                    </tr>
                    <tr>
                        <th>Création de liens vers le site</th>
                    </tr>
                    <tr>
                        <th>
                        <p>La mise en place de liens hypertextes pointant vers les pages du site web de Ceptyconsultant est autorisée sous réserve qu’elle ne 
                            porte pas atteinte à son contenu et qu’elle permette à l’utilisateur d’identifier l’origine et l’auteur du document. </p>
                        </th>
                    </tr>
                    <tr>
                        <th>Contacts</th>
                    </tr>
                    <tr>
                        <th>
                        <p>Pour toute information contactez Ceptyconsultant groupe 3 Inalco TAL M2 </p>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>

{% endblock %}